.root .sts-card { height: 244px; }
.root .sts-hand { height: 284px; }
.root .sts-card-name { height: 30px; margin-top: 24px; margin-left: 0; font-size: 24px; }
.root .sts-card-art { height: 138px; margin-top: 2px; }
.root .sts-card-description { display: none; }
.root .sts-card-owner { height: 26px; font-size: 20px; -unity-text-align: middle-center; }
.root .sts-card-category { position: absolute; right: 9px; top: 8px; font-size: 19px; color: rgb(248, 218, 156); -unity-text-align: middle-center; }
.root .tag-intent { flex-direction: row; justify-content: center; }
